.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.row {
  display: flex;
  margin-bottom: -25px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.game-over {
  font-size: 50px;
  color: red;
  margin-top: 200px;
}
